body {
	background: url('https://i.imgsafe.org/c7d8f64b91.jpg') center center/cover no-repeat fixed #d1fcd4;
	color: #473744;
	font-size: 24px;
	font-family: tahoma;
	text-align: center;
}

h1 {
	font-size: 2.2em;
	font-weight: 900;
	text-shadow: 0 0 15px #fff;
}

form {
	margin: 10% auto;
	padding: 2%;
	background: #d1fcd4;
	background: rgba(209,252,212, 0.7);
	max-width: 50%;
	box-shadow: 0 0 10px #4f4744;
	border-radius: 35px;
}

input {
	margin: 2% 0 -5% 0;
	font-size: 0.8em;
	max-width: 100%;
}

.btn {
	margin-top: 2%;
	outline: none !important;
	font-size: 1.6em;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	border-radius: 20%;
}

.btn:focus,
.btn:active {
	outline: none !important;
}